In [18]:
import pandas as pd
# finding similarities between users

In [19]:
ur=pd.read_csv('user_ratings.csv')

In [42]:
ur.head(1000)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
995,374,110,5.0,849089153,Braveheart (1995),Action|Drama|War
996,376,110,3.5,1364993995,Braveheart (1995),Action|Drama|War
997,379,110,5.0,847397381,Braveheart (1995),Action|Drama|War
998,380,110,4.0,1493419805,Braveheart (1995),Action|Drama|War
999,386,110,3.0,842610269,Braveheart (1995),Action|Drama|War

In [50]:
user_rating_table=ur.pivot_table(index='userId', columns='title', values='rating')
user_rating_pivot.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.366379,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Filling the missing Values. Finding a way to deal with NAN values. We cant replace with zero
# one alterbative- centre each user rating around zero by dedcuting row average
# then filling missing values with zero.
# this means the missing data is replaced with neutral scores

In [34]:
avg_ratings=user_rating_pivot.mean(axis=1)
user_rating_pivot= user_rating_pivot.sub(avg_ratings, axis=0)
print(user_rating_pivot)

title   '71 (2014)  'Hellboy': The Seeds of Creation (2004)  \
userId
1              NaN                                      NaN
2              NaN                                      NaN
3              NaN                                      NaN
4              NaN                                      NaN
5              NaN                                      NaN
...            ...                                      ...
606            NaN                                      NaN
607            NaN                                      NaN
608            NaN                                      NaN
609            NaN                                      NaN
610       0.311444                                      NaN

title   'Round Midnight (1986)  'Salem's Lot (2004)  \
userId
1                          NaN                  NaN
2                          NaN                  NaN
3                          NaN                  NaN
4                          NaN                  NaN
5                          NaN                  NaN
...                        ...                  ...
606                        NaN                  NaN
607                        NaN                  NaN
608                        NaN                  NaN
609                        NaN                  NaN
610                        NaN                  NaN

title   'Til There Was You (1997)  'Tis the Season for Love (2015)  \
userId
1                             NaN                              NaN
2                             NaN                              NaN
3                             NaN                              NaN
4                             NaN                              NaN
5                             NaN                              NaN
...                           ...                              ...
606                           NaN                              NaN
607                           NaN                              NaN
608                           NaN                              NaN
609                           NaN                              NaN
610                           NaN                              NaN

title   'burbs, The (1989)  'night Mother (1986)  (500) Days of Summer (2009)  \
userId
1                      NaN                   NaN                          NaN
2                      NaN                   NaN                          NaN
3                      NaN                   NaN                          NaN
4                      NaN                   NaN                          NaN
5                      NaN                   NaN                          NaN
...                    ...                   ...                          ...
606                    NaN                   NaN                          NaN
607                    NaN                   NaN                          NaN
608                    NaN                   NaN                          NaN
609                    NaN                   NaN                          NaN
610                    NaN                   NaN                    -0.188556

title   *batteries not included (1987)  ...  Zulu (2013)  [REC] (2007)  \
userId                                  ...
1                                  NaN  ...          NaN           NaN
2                                  NaN  ...          NaN           NaN
3                                  NaN  ...          NaN           NaN
4                                  NaN  ...          NaN           NaN
5                                  NaN  ...          NaN           NaN
...                                ...  ...          ...           ...
606                                NaN  ...          NaN           NaN
607                                NaN  ...          NaN           NaN
608                                NaN  ...          NaN           NaN
609                                NaN  ...          NaN           NaN
610                                NaN  ...          NaN      0.311444

title   [REC]² (2009)  [REC]³ 3 Génesis (2012)  \
userId
1                 NaN                      NaN
2                 NaN                      NaN
3                 NaN                      NaN
4                 NaN                      NaN
5                 NaN                      NaN
...               ...                      ...
606               NaN                      NaN
607               NaN                      NaN
608               NaN                      NaN
609               NaN                      NaN
610         -0.188556                -0.688556

title   anohana: The Flower We Saw That Day - The Movie (2013)  \
userId
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
5                                                     NaN
...                                                   ...
606                                                   NaN
607                                                   NaN
608                                                   NaN
609                                                   NaN
610                                                   NaN

title   eXistenZ (1999)  xXx (2002)  xXx: State of the Union (2005)  \
userId
1                   NaN         NaN                             NaN
2                   NaN         NaN                             NaN
3                   NaN         NaN                             NaN
4                   NaN         NaN                             NaN
5                   NaN         NaN                             NaN
...                 ...         ...                             ...
606                 NaN         NaN                             NaN
607                 NaN         NaN                             NaN
608            1.365824    0.365824                             NaN
609                 NaN         NaN                             NaN
610                 NaN   -1.688556                       -2.188556

title   ¡Three Amigos! (1986)  À nous la liberté (Freedom for Us) (1931)
userId
1                   -0.366379                                        NaN
2                         NaN                                        NaN
3                         NaN                                        NaN
4                         NaN                                        NaN
5                         NaN                                        NaN
...                       ...                                        ...
606                       NaN                                        NaN
607                       NaN                                        NaN
608                       NaN                                        NaN
609                       NaN                                        NaN
610                       NaN                                        NaN

[610 rows x 9719 columns]

In [63]:
b=user_rating_pivot.fillna(0)

In [64]:
# Finding Similarities
# which matrix prefered will be discussed later.
movie_ratings_centered=b.T
movie_ratings_centered

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.311444
'Hellboy': The Seeds of Creation (2004),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
'Round Midnight (1986),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
'Salem's Lot (2004),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
'Til There Was You (1997),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,1.492047,0.0,0.0,0.0,0.0,1.365824,0.0,0.000000
xXx (2002),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.26087,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.365824,0.0,-1.688556
xXx: State of the Union (2005),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,-2.188556
¡Three Amigos! (1986),-0.366379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
À nous la liberté (Freedom for Us) (1931),0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [67]:
from sklearn.metrics.pairwise import cosine_similarity


# Assign the arrays to variables
jurassic_park = movie_ratings_centered.loc['Jurassic Park (1993)', :].values.reshape(1, -1)
pulp_fiction = movie_ratings_centered.loc['Pulp Fiction (1994)', :].values.reshape(1, -1)

# Find the similarity between Pulp Fiction and Jurassic Park
similarity_B = cosine_similarity(jurassic_park , pulp_fiction)
print(similarity_B)

[[0.03407117]]

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

#Calculate the similarity matrix between all movies in movie_ratings_centered and store it as similarities.

# Generate the similarity matrix
similarities = cosine_similarity(movie_ratings_centered)

# Wrap the similarities matrix in a DataFrame, with the indices of movie_ratings_centered as the columns and rows.
# Wrap the similarities in a DataFrame
cosine_similarity_df = pd.DataFrame(similarities, index=movie_ratings_centered.index, columns=movie_ratings_centered.index)

# Find the similarity values for a specific movie
cosine_similarity_series = cosine_similarity_df.loc['Star Wars: Episode IV - A New Hope (1977)']

# Sort these values highest to lowest
ordered_similarities = cosine_similarity_series.sort_values(ascending=False)

print(ordered_similarities)

title
Star Wars: Episode IV - A New Hope (1977)                                         1.000000
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.694239
Star Wars: Episode VI - Return of the Jedi (1983)                                 0.646330
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.449865
Indiana Jones and the Last Crusade (1989)                                         0.404551
                                                                                    ...
Angels in the Outfield (1994)                                                    -0.299073
Superman III (1983)                                                              -0.302429
Bio-Dome (1996)                                                                  -0.313563
Rambo III (1988)                                                                 -0.316152
Batman & Robin (1997)                                                            -0.334799
Name: Star Wars: Episode IV - A New Hope (1977), Length: 9719, dtype: float64

In [ ]:
# Using K-nearest neighbors

In [1]:
user_similarities.head()
Out[1]:

userId    user_001  user_002  user_003  user_004  user_005  ...  user_606  user_607  user_608  user_609  user_610
userId                                                      ...                                                  
user_001  1.000000       0.0       0.0  0.187234 -0.164525  ...  0.376280  0.029487  0.312335 -0.176184  0.133835
user_002  0.000000       0.0       0.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
user_003  0.000000       0.0       0.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000
user_004  0.187234       0.0       0.0  1.000000 -0.223980  ... -0.040776 -0.249841 -0.271438 -0.200643 -0.217601
user_005 -0.164525       0.0       0.0 -0.223980  1.000000  ...  0.355365 -0.233540  0.369204  0.237733  0.050241

[5 rows x 569 columns]

In [ ]:

# Isolate the similarity scores for user_1 and sort
user_similarity_series = user_similarities.loc['user_001']
ordered_similarities = user_similarity_series.sort_values(ascending=False)

# Find the top 10 most similar users
nearest_neighbors = ordered_similarities[1:11].index

# Extract the ratings of the neighbors
neighbor_ratings = user_ratings_table.reindex(nearest_neighbors)

# Calculate the mean rating given by the users nearest neighbors
print(neighbor_ratings['Apollo 13 (1995)'].mean())

3.8

In [ ]:
#Drop the column corresponding to the movie you are predicting for (Apollo 13 (1995)) from the users_to_ratings DataFrame in place.
#Extract the ratings for user_001 from the resulting users_to_ratings table and store them as target_user_x.



# Drop the column you are trying to predict
users_to_ratings.drop("Apollo 13 (1995)", axis=1, inplace=True)

# Get the data for the user you are predicting for
target_user_x = users_to_ratings.loc[["user_001"]]

# Get the raw ratings for Apollo 13 (1995) from the user_ratings_table and store it as other_users_y

# Get the target data from user_ratings_table
other_users_y = user_ratings_table["Apollo 13 (1995)"]

# Get the data for only those that have seen the movie
other_users_x = users_to_ratings[other_users_y.notnull()]

# Select only the users from users_to_ratings that have rated the movie and store it as other_users_x.
# Drop the rows from the other_users_y target that have not rated the movie.


# Remove those that have not seen the movie from the target
other_users_y.dropna(inplace=True)


from sklearn.neighbors import KNeighborsRegressor

# Instantiate the user KNN model
user_knn = KNeighborsRegressor(metric='cosine', n_neighbors=10)

# Fit the model and predict the target user
user_knn.fit(other_users_x, other_users_y)
user_user_pred = user_knn.predict(target_user_x)

print(user_user_pred)

In [ ]:
# ITEMBASED VS USERBASED 


# Instantiate the user KNN model
user_knn = KNeighborsRegressor()

# Fit the model and predict the target user
user_knn.fit(other_users_x, other_users_y)
user_user_pred = user_knn.predict(target_user_x)
print("The user-user model predicts {}".format(user_user_pred))

# Instantiate the user KNN model
movie_knn = KNeighborsRegressor()

# Fit the model on the movie data and predict
movie_knn.fit(other_movies_x, other_movies_y)
item_item_pred = movie_knn.predict(target_movie_x)
print("The item-item model predicts {}".format(item_item_pred))


The user-user model predicts [4.5]
The item-item model predicts [4.1]